<div class="container-fluid">
  <app-page-title title="Nuevo servicio" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">{{ currentStepTitle }}</h4>

          <aw-wizard [disableNavigationBar]="true">
            <aw-wizard-step (stepEnter)="enterStepWith(0)">
              
              <form [formGroup]="basicInformationForm">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">1</span>
                          <input type="text" class="form-control" placeholder="Ingresa el nombre de la empresa" formControlName="companyName" required>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3 mt-md-0">
                        <div class="input-group d-flex flex-row">
                          <button class="btn btn-secondary" (click)="searchCompany = !searchCompany"><i class='bx bx-search-alt'></i></button>
                          <input *ngIf="searchCompany" type="text" class="form-control" placeholder="Ingresa el código de la empresa" required>
                          <button *ngIf="searchCompany" class="btn btn-primary">Buscar</button>
                        </div>                                                            
                      </div>            
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">2</span>
                          <input type="text" class="form-control" placeholder="Ingresa el nombre del servicio" formControlName="serviceName" required>
                        </div>
                      </div>        
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">3</span>
                          <input type="text" class="form-control" placeholder="Ingresa el código deudor" formControlName="debtorCode" required>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">4</span>   
                          <select id="ddlCreditCardType" formControlName="assignNumberOfDCCharacters" class="form-control">
                            <option value="" disabled>--Número exacto de caracteres de código deudor--</option>
                            <option value="SI">Si</option>
                            <option value="NO">No</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf="basicInformationForm.value.assignNumberOfDCCharacters === 'SI'" class="col-md-2 mt-3 mt-md-0">
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="Número" formControlName="numberOfDCCharacters" required>
                        </div>
                      </div>                
                    </div>  
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="!basicInformationForm.valid" awNextStep>Siguiente</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step (stepEnter)="enterStepWith(1)">
              
              <form [formGroup]="collectionMethodForm">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">1</span>   
                          <select id="ddlCreditCardType" formControlName="collectionMethod" class="form-control">
                            <option value="" disabled>--Selecciona la modalidad de recaudación--</option>
                            <option *ngFor="let item of modalities" [value]="item.ID">{{ item.NOMBRE }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="collectionMethodForm.value.collectionMethod === '1' || collectionMethodForm.value.collectionMethod === '2'" class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">2</span>   
                          <select id="ddlCreditCardType" formControlName="setUpAmountsRange" class="form-control">
                            <option value="" disabled>--Configurar rango de montos--</option>
                            <option value="SI">Si</option>
                            <option value="NO">No</option>
                          </select>
                        </div>
                      </div>
                      <ng-container *ngIf="collectionMethodForm.value.setUpAmountsRange === 'SI'">
                        <div class="col-md-2 mt-3 mt-md-0">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Desde" formControlName="rangeStart" required>
                          </div>
                        </div>
                        <div class="col-md-2 mt-3 mt-md-0">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Hasta" formControlName="rangeEnd" required>
                          </div>
                        </div>
                      </ng-container>
                      
                    </div>
                    <ng-container *ngIf="collectionMethodForm.value.collectionMethod === '3'">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">2</span>   
                            <select id="ddlCreditCardType" formControlName="forceToPayOlderFee" class="form-control">
                              <option value="" disabled>--Obligar el pago de cuota más antigua primero--</option>
                              <option value="SI">Si</option>
                              <option value="NO">No</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">3</span>   
                            <select id="ddlCreditCardType" formControlName="allowToPayOverdueFees" class="form-control">
                              <option value="" disabled>--Permitir el pago de cuotas vencidas--</option>
                              <option value="SI">Si</option>
                              <option value="NO">No</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">4</span>
                            <select id="ddlCreditCardType" formControlName="allowPartialPayments" class="form-control">
                              <option value="" disabled>--Permitir pagos parciales--</option>
                              <option value="SI">Si</option>
                              <option value="NO">No</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </ng-container>                
                    
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Anterior</button>
                </li>
                <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="!collectionMethodForm.valid" awNextStep>Siguiente</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step (stepEnter)="enterStepWith(2)">
              
              <form [formGroup]="commissionsForm">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">1</span>   
                          <select id="ddlCreditCardType" formControlName="typeOfCommission" class="form-control">
                            <option value="" disabled>--Selecciona el tipo de comisión a cobrar--</option>
                            <option *ngFor="let item of commissionTypes" [value]="item.ID">{{ item.DESCRIPCION }}</option>
                          </select>
                        </div>
                      </div>
                      <ng-container *ngIf="commissionsForm.value.typeOfCommission === '1' || commissionsForm.value.typeOfCommission === '2'">
                        <div class="col-md-3 mt-3 mt-md-0">
                          <div class="input-group">
                            <span *ngIf="commissionsForm.value.typeOfCommission === '1'" class="input-group-text" id="basic-addon1">S/.</span>
                            <input type="text" class="form-control" [placeholder]="commissionTypeLabel + ' a asumir por empresa'" formControlName="amountByCompany" required>                       
                            <span *ngIf="commissionsForm.value.typeOfCommission === '2'" class="input-group-text" id="basic-addon1">%</span>
                          </div>
                        </div>
                        <div class="col-md-3 mt-3 mt-md-0">
                          <div class="input-group">
                            <span *ngIf="commissionsForm.value.typeOfCommission === '1'" class="input-group-text" id="basic-addon1">S/.</span>
                            <input  type="text" class="form-control" [placeholder]="commissionTypeLabel + ' a asumir por cliente'" formControlName="amountByCustomer" required>                         
                            <span *ngIf="commissionsForm.value.typeOfCommission === '2'" class="input-group-text" id="basic-addon1">%</span>
                          </div>
                        </div>
                      </ng-container>      
                    </div>
                    <ng-container *ngIf="commissionsForm.value.typeOfCommission === '3'">
                      <div formArrayName="ranges">
                        <div *ngFor="let item of tieredCommRanges.controls; let itemIndex=index" [formGroupName]="itemIndex">
                          <div class="row mb-3">
                            <div class="col-md-5 offset-md-1">
                              <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Rango {{ (itemIndex+1) }}</span>
                                <input type="text" class="form-control" placeholder="Rango inicio" formControlName="rangeStart" readonly required>
                                <input type="text" class="form-control" placeholder="Rango fin" formControlName="rangeEnd" (input)="rangeEndEnterEvent($event.target.value, itemIndex)" [readonly]="tieredCommRangesLength === (itemIndex + 1)" required>
                              </div>
                            </div>
                            
                            <div class="col-md-3 mt-3 mt-md-0">
                              <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">S/.</span>
                                <input type="text" class="form-control" placeholder="Comisión a la empresa" formControlName="commissionToTheCompany" required>
                              </div>
                            </div>
                            <div *ngIf="tieredCommRangesLength === (itemIndex + 1)" class="col-md-2 mt-3 mt-md-0">
                              <div class="input-group d-flex flex-row">
                                <button class="btn btn-secondary" (click)="addTieredCommRange()">Agregar rango</button>                          
                              </div>                                                            
                            </div>        
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="commissionsForm.value.typeOfCommission !== ''">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">2</span>
                            <span *ngIf="commissionsForm.value.typeOfCommission !== '2'" class="input-group-text" id="basic-addon1">S/.</span>
                            <input type="text" class="form-control" placeholder="Ingrese la comisión a pagar al comercio" formControlName="commissionToPayToTheMER" required>
                            <span *ngIf="commissionsForm.value.typeOfCommission === '2'" class="input-group-text" id="basic-addon1">%</span>
                          </div>
                        </div>        
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">3</span> 
                            <select id="ddlCreditCardType" formControlName="percentageForSuperAgent" class="form-control">
                              <option value="" disabled>--Selecciona el % para el super agente--</option>
                              <option value="35">35</option>
                              <option value="50">50</option>
                              <option value="65">65</option>
                              <option value="-">Otro</option>
                            </select>
                            <span class="input-group-text" id="basic-addon1">%</span>
                          </div>
                        </div>
                        <ng-container *ngIf="commissionsForm.value.percentageForSuperAgent === '-'">
                          <div class="col-md-2 mt-3 mt-md-0">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Ingresa %" formControlName="customPctForSuperAgent" required>                
                            </div>
                          </div>                       
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Anterior</button>
                </li>
                <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="!commissionsForm.valid" awNextStep>Siguiente</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step (stepEnter)="enterStepWith(3)">
              
              <form [formGroup]="paymentAccountForm">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">1</span>   
                          <select id="bank" formControlName="bank" class="form-control">
                            <option value="" disabled>--Selecciona el banco--</option>
                            <option *ngFor="let item of banks" [value]="item.ID">{{ item.NOMBRE }}</option>
                          </select>
                        </div>
                      </div>               
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">2</span>   
                          <select id="accountType" formControlName="accountType" class="form-control">
                            <option value="" disabled>--Selecciona el tipo de cuenta--</option>
                            <option *ngFor="let item of accountTypes" [value]="item.ID">{{ item.NOMBRE }}</option>
                          </select>
                        </div>
                      </div>                
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">3</span>
                          <input type="text" class="form-control" placeholder="Ingresa el número de cuenta del mismo banco" formControlName="accountNumber" required>
                        </div>
                      </div>        
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">4</span>
                          <input type="text" class="form-control" placeholder="Ingresa el número de cuenta interbancario" formControlName="interbankAccountNumber" required>
                        </div>
                      </div>
                    </div>                   
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Anterior</button>
                </li>
                <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="!paymentAccountForm.valid" awNextStep>Siguiente</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step (stepEnter)="enterStepWith(4)">
              
              <form [formGroup]="emailsForm">
                <div class="row">
                  <div class="col-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">1</span>
                          <input type="text" class="form-control" placeholder="Ingresa el correo para el envío de archivo de respuesta" #newEmailForSendingResponseFile required>
                        </div>
                      </div>
                      <div class="col-md-2 mt-3 mt-md-0">
                        <div class="input-group d-flex flex-row">
                          <button class="btn btn-secondary" (click)="addEmailForSendingResponseFile(newEmailForSendingResponseFile.value)">Agregar</button>
                        </div>                                                            
                      </div>             
                    </div>                 
                    <div formArrayName="emailsForSendingResponseFile">
                      <div *ngFor="let item of emailsForSendingResponseFile.controls; let itemIndex=index" [formGroupName]="itemIndex">
                        <div class="row mb-3">
                          <div class="col-md-5 offset-md-1">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">@</span>
                              <input type="text" class="form-control" placeholder="Email" formControlName="email" readonly>
                              <button class="btn btn-danger" (click)="deleteEmailForSendingResponseFile(itemIndex)">Eliminar</button>
                            </div>
                          </div>                                 
                        </div>
                      </div>
                    </div>                                   
                      
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">2</span>
                          <input type="text" class="form-control" placeholder="Ingresa el correo para la confirmación de la carga" #newEmailForTheConfirmationOfTheLoad required>
                        </div>
                      </div>
                      <div class="col-md-2 mt-3 mt-md-0">
                        <div class="input-group d-flex flex-row">
                          <button class="btn btn-secondary" (click)="addEmailForTheConfirmationOfTheLoad(newEmailForTheConfirmationOfTheLoad.value)">Agregar</button>
                        </div>                                                            
                      </div>             
                    </div>
                    <div formArrayName="emailsForTheConfirmationOfTheLoad">
                      <div *ngFor="let item of emailsForTheConfirmationOfTheLoad.controls; let itemIndex=index" [formGroupName]="itemIndex">
                        <div class="row mb-3">
                          <div class="col-md-5 offset-md-1">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">@</span>
                              <input type="text" class="form-control" placeholder="Email" formControlName="email" readonly>
                              <button class="btn btn-danger" (click)="deleteEmailForTheConfirmationOfTheLoad(itemIndex)">Eliminar</button>
                            </div>
                          </div>                                 
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">3</span>
                          <input type="text" class="form-control" placeholder="Ingresa el correo para el envío de credenciales" #newEmailToSendCredentials required>
                        </div>
                      </div>
                      <div class="col-md-2 mt-3 mt-md-0">
                        <div class="input-group d-flex flex-row">
                          <button class="btn btn-secondary" (click)="addEmailToSendCredentials(newEmailToSendCredentials.value)">Agregar</button>
                        </div>                                                            
                      </div>             
                    </div>
                    <div formArrayName="emailsToSendCredentials">
                      <div *ngFor="let item of emailsToSendCredentials.controls; let itemIndex=index" [formGroupName]="itemIndex">
                        <div class="row mb-3">
                          <div class="col-md-5 offset-md-1">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">@</span>
                              <input type="text" class="form-control" placeholder="Email" formControlName="email" readonly>
                              <button class="btn btn-danger" (click)="deleteEmailToSendCredentials(itemIndex)">Eliminar</button>
                            </div>
                          </div>                                 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Anterior</button>
                </li>
                <li class="next list-inline-item float-end"><button class="btn btn-primary" [disabled]="!emailsForm.valid" awNextStep>Siguiente</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step (stepEnter)="enterStepWith(5)">
              
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div class="text-center">
                    <div class="mb-4">
                      
                      <button *ngIf="successfulRequest === ''" type="button" class="btn btn-success btn-lg" (click)="registerNewService()" [disabled]="newServiceBtnLoading">
                        <i *ngIf="!newServiceBtnLoading" class="mdi mdi-check-circle-outline"></i> <i *ngIf="newServiceBtnLoading" class="bx bx-loader bx-spin align-middle"></i> Crear servicio
                      </button>
                      <i *ngIf="successfulRequest === 'YES'" class="mdi mdi-check-circle-outline text-success display-4"></i>
                      <i *ngIf="successfulRequest === 'NO'" class="mdi mdi-alert-circle-outline text-success display-4"></i>              
                    </div>
                    <div *ngIf="successfulRequest === ''">
                      <h5>Confirmar envío</h5>
                      <p class="text-muted">Revisa todos tus datos antes de enviar</p>                     
                    </div>
                    <div *ngIf="successfulRequest === 'NO'">
                      <h5>Error</h5>
                      <p class="text-danger">Solicitud errónea</p>                     
                    </div>
                    <div *ngIf="successfulRequest === 'YES'">
                      <h5>Bien hecho</h5>
                      <p class="text-info">Nuevo servicio creado. ID de servicio: {{ newServiceID }}</p>                     
                    </div>
                  </div>
                </div>
              </div>
              <ul class="list-inline wizard mb-0">
                <li *ngIf="successfulRequest === ''" class="previous list-inline-item"><button class="btn btn-primary" awPreviousStep>Anterior</button>
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    
  </div>
</div>
