<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Generar archivo de texto" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="mainForm">
                  <div class="row">
                    <div class="col-12">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">1</span>   
                            <select id="ddlCreditCardType" formControlName="service" class="form-control">
                              <option value="" disabled>--Selecciona el servicio--</option>
                              <option>Pensiones</option>
                              <option>Matriculas</option>
                              <option>Librería</option>
                            </select>
                          </div>
                        </div>               
                      </div> 
      
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">2</span>
                            <input class="form-control" type="date" placeholder="Selecciona la fecha de carga" formControlName="uploadDate" id="example-date-input">
                          </div>
                        </div>               
                      </div>

                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">3</span>   
                            <select id="ddlCreditCardType" formControlName="loadType" class="form-control">
                              <option value="" disabled>--Selecciona el tipo de carga--</option>
                              <option>Reemplazar registros</option>
                              <option>Agregar registros</option>  
                            </select>
                          </div>
                        </div>               
                      </div> 
      
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">4</span>
                            <input class="form-control" type="file" placeholder="Adjunta plantilla excel" formControlName="excelTemplate" id="formFile" required>      
                          </div>
                        </div>                                  
                      </div>
                    </div>
                  </div>
                </form>
                <div class="d-flex justify-content-end">
                  <div><button class="btn btn-primary">Generar archivo de texto</button></div>
                </div>
              </div>
          </div>
      </div> <!-- end col -->
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
