<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Cargar archivo de texto" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                <form [formGroup]="mainForm">
                  <div class="row">
                    <div class="col-12">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">1</span>
                            <input class="form-control" type="file" formControlName="textFile" id="formFile" required>                                        
                          </div>
                        </div>                                  
                      </div>
                    </div>
                  </div>
                </form>
                <div class="d-flex justify-content-end">
                  <div><button class="btn btn-primary">Cargar archivo de texto</button></div>
                </div>
              </div>
          </div>
      </div> <!-- end col -->
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
